<!DOCTYPE html>
<html lang="en">

<head>
   {{>link}}
</head>

<body>
    {{>header}}


    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/error.webp" alt="" class="img-fluid" title="TheDeepakWeather">
                        </figure>
                    </div>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>error found</p>
                        <h1>bro this page is not exist</h1>
                        <a href="/" target="_blank"><button>Go Back</button></a>
                    </div>
                    <!-- right side div -->
                   
                </div>
            </div>
        </div>


        <!-- footer -->
      {{>footer}}
</body>


</html>